includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - tests
    excludePaths:
        - app/Orchid
    # Level 9 is the highest level
    level: 6
